<div id="world">
  <%= inline_svg "north-america.svg", id: "north-america", class: "continent" %>
  <%= inline_svg "south-america.svg", id: "south-america", class: "continent" %>
  <%= inline_svg "eurasia-africa.svg", id: "eurasia-africa", class: "continent" %>
  <%= inline_svg "australia.svg", id: "australia", class: "continent" %>
</div>

<div id="content">

</div>

<% content_for :after_js do %>
  <script>
    $("#eurasia-africa").click(function() {
      $('#content').html("<%= j render 'pages/about' %>");
      $('html, body').animate({
          scrollTop: $("#about").offset().top
      }, 1000);
    });
  </script>
<% end %>
