<div id="header">
  <div id="title" class="text-center">
    <h1>César</h1>
    <h2>Portfolio of a web developer & digital nomad</h2>
  </div>
    <%= inline_svg "map_animated.svg", class: "world" %>
</div>

<div id="content">

</div>

<% content_for :after_js do %>
  <script>
    $("#title").hide().fadeIn(3000);

    $("#north-america").click(function() {
      $('#content').empty().html("<%= j render 'pages/about' %>");
      $('html, body').animate({
          scrollTop: $("#about").offset().top
      }, 1000);
    });

    $("#south-america").click(function() {
      $('#content').empty().html("<%= j render 'pages/skills' %>");
      $('html, body').animate({
          scrollTop: $("#skills").offset().top
      }, 1000);
    });

    $("#eurasia-africa").click(function() {
      $('#content').empty().html("<%= j render 'pages/work' %>");
      $('html, body').animate({
          scrollTop: $("#work").offset().top
      }, 1000);
    });

    $("#australia").hover(function() {
      event.preventDefault();
    })
    $("#australia").click(function() {
      $('#content').empty().html("<%= j render 'pages/contact' %>");
      $('html, body').animate({
          scrollTop: $("#contact").offset().top
      }, 1000);
    });
  </script>
<% end %>
