<div id="header">
  <div id="title" class="text-center">
    <h1>César Lacaille, Web Developer - Digital Nomad</h1>
    <h2>Welcome to my world !</h2>
  </div>
  <div>
    <%= inline_svg "world-map-146505.svg", class: "world" %>
  </div>
</div>

<div id="content">

</div>

<% content_for :after_js do %>
  <script>
    var allStates = $("svg.world > *");

      allStates.hover(function() {

    allStates.removeClass("on");
    $(this).addClass("on");

});

    $("#title").hide().fadeIn(3000);

    $("#north-america").click(function() {
      $('#content').empty().html("<%= j render 'pages/about' %>");
      $('html, body').animate({
          scrollTop: $("#about").offset().top
      }, 1000);
    });

    $("#south-america").click(function() {
      $('#content').empty().html("<%= j render 'pages/skills' %>");
      $('html, body').animate({
          scrollTop: $("#skills").offset().top
      }, 1000);
    });

    $("#eurasia-africa").click(function() {
      $('#content').empty().html("<%= j render 'pages/work' %>");
      $('html, body').animate({
          scrollTop: $("#work").offset().top
      }, 1000);
    });

    $("#australia").hover(function() {
      event.preventDefault();
    })
    $("#australia").click(function() {
      $('#content').empty().html("<%= j render 'pages/contact' %>");
      $('html, body').animate({
          scrollTop: $("#contact").offset().top
      }, 1000);
    });
  </script>
<% end %>
