<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

  <div id="world">
    <div id="north-america" class="continent">
      <%= inline_svg "north-america_animated.svg" %>
    </div>
    <div id="south-america" class="continent">
      <%= inline_svg "south-america_animated.svg" %>
    </div>
    <div id="eurasia-africa" class="continent">
      <%= inline_svg "eurasia-africa_animated.svg" %>
    </div>
    <div id="australia" class="continent">
      <%= inline_svg "australia_animated.svg" %>
    </div>
  </div>
